@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    min-height: 100vh;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #151515;
    color: #fbfbfb;
}
section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    padding: 20px 15px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-size: 3em;
    margin: 2rem 0rem;
    text-align: center;
}
.faq {
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fbfbfb;
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3 {
    font-size: 1.8rem;
    user-select: none;
}
.answer {
    max-height: 0;
    overflow: hidden;
}
.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active svg {
    transform: rotate(180deg);
}
@media (max-width: 972px) {
    .question h3 {
        font-size: 1.4rem;
    }
    .answer p {
        line-height: 1.4;
        font-size: 1.2rem;
    }
    section {
        width: 80%;
    }
}
@media (max-width: 500px) {
    .question {
        flex-direction: column;
    }
    .question h3 {
        padding-bottom: 20px;
        font-size: 1.3rem;
    }
    .answer p {
        font-size: 1rem;
    }
    .faq {
        text-align: center;
    }
}
